<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="javascript:void(0);">Eweb Word</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" routerLink="profile" routerLinkActive="active">Profile</a>
          </li>
        </ul>
        <ng-container *ngIf="isLoging">
          <div class="logout">
            <p>{{isLoging}}</p>
            <a class="nav-link" href="javascript:void(0);" (click)="logOutConfirmation()">Log Out <i class="bi bi-box-arrow-up"></i></a>
          </div>
      </ng-container>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<section class="form-section">
  <div class="container pt-5">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="form-wrappe1r">
          <!-- SingUp form start=============== -->
          <ng-container *ngIf="!toLogin && !forgotPassword && !OTPFormShow && !UpdateFormShow">
            <form (ngSubmit)="SingUp(UserDetails)" [formGroup]="UserDetails">
              <h3>User SingUp</h3>
              <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" formControlName="username" id="username"
                  aria-describedby="username" placeholder="Eneter User Name">
                <div class="form-text text-danger" *ngIf="UserDetails.get('username')?.touched && UserDetails.get('username')?.invalid">User Name is Required</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Eneter Email Address</label>
                <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Eneter User Email">
                <div class="form-text text-danger" *ngIf="UserDetails.get('email')?.touched && !UserDetails.get('email')?.dirty">User Email is Required</div>
                <div class="form-text text-danger" *ngIf="UserDetails.get('email')?.dirty && UserDetails.get('email')?.invalid">Please Enter valid Email</div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">User Contact Number</label>
                <input type="text" class="form-control" formControlName="contactNo" id="username" aria-describedby="username" placeholder="Eneter User Contact Number">
                <div class="form-text text-danger" *ngIf="UserDetails.get('contactNo')?.touched && !UserDetails.get('contactNo')?.dirty">Contact Number Required</div>
                <div class="form-text text-danger" *ngIf="UserDetails.get('contactNo')?.dirty && UserDetails.get('contactNo')?.invalid">Please Enter 10 Digit Valid Number</div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">User City</label>
                <input type="text" class="form-control" formControlName="city" id="username" aria-describedby="username" placeholder="Eneter User City">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                  placeholder="Eneter User Password">
                <div class="form-text text-danger" *ngIf="UserDetails.get('password')?.touched && !UserDetails.get('password')?.dirty">User Password is Required</div>
                <div class="form-text text-danger" *ngIf="UserDetails.get('password')?.dirty && UserDetails.get('password')?.invalid">Please Create Minimum 8 Charecter Strong Password</div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">{{userId? 'Update' : 'Submit'}}</button>
                <div class="form-text isAccout" (click)="isAccout()">Already have account</div>
              </div>
            </form>
          </ng-container>
          <!-- SingUp form end=============== -->

          <!-- Login form start=============== -->
          <ng-container *ngIf="toLogin && !forgotPassword && !OTPFormShow">
            <form (ngSubmit)="userLogin(userLog)" [formGroup]="userLog">
              <h3>User Login</h3>
              <div class="mb-3">
                <label for="username" class="form-label">User ID</label>
                <input type="text" class="form-control" formControlName="userid" id="username"
                  aria-describedby="username" placeholder="Eneter User Name">
                <div class="form-text text-danger" *ngIf="userLog.get('username')?.touched && userLog.get('username')?.invalid">User Name is Required</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                  placeholder="Eneter User Password">
                <div class="form-text text-danger" *ngIf="userLog.get('password')?.touched && !userLog.get('password')?.dirty">User Password is Required</div>
                <div class="form-text text-danger" *ngIf="userLog.get('password')?.dirty && userLog.get('password')?.invalid">Please Create Minimum 8 Charecter Strong Password</div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="form-text isAccout" (click)="isAccout()">Go to SingUp</div>
                <div class="form-text isAccout" (click)="showForgotForm()">Forgot Password</div>
              </div>
            </form>
          </ng-container>
          <!-- Login form end=============== -->

          <!-- FogotPassword form start=============== -->
          <ng-container *ngIf="forgotPassword">
            <form (ngSubmit)="forgotSubmit(forgotForm)" [formGroup]="forgotForm">
              <h3>Forgot Password Form</h3>
              <div class="mb-3">
                <label for="username" class="form-label">Please enter Register email for OTP</label>
                <input type="text" class="form-control" formControlName="userid" id="username"
                  aria-describedby="username" placeholder="Eneter User ID">
                <div class="form-text text-danger" *ngIf="userLog.get('userid')?.touched && userLog.get('userid')?.invalid">User Email is Required</div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="form-text isAccout" (click)="showForgotForm()">Back to login</div>
              </div>
            </form>
          </ng-container>
          <!-- FogotPassword form end=============== -->

          <!-- OTP form start=============== -->
          <ng-container *ngIf="OTPFormShow">
            <form (ngSubmit)="otpSubmit()" [formGroup]="OTPForm">
              <h3>OTP Form</h3>
              <div class="mb-3">
                <label for="username" class="form-label">Please Enter OTP</label>
                <input type="text" class="form-control" formControlName="otp" id="username"
                  aria-describedby="username" placeholder="Eneter OTP">
                <div class="form-text text-danger" *ngIf="OTPForm.get('otp')?.touched && OTPForm.get('otp')?.invalid">OTP is Required</div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <div class="form-text mt-3" *ngIf="OTPGenrate">Your OTP is :<strong>{{OTPGenrate}}</strong></div>
            </form>
          </ng-container>
          <!-- OTP form end=============== -->

          <!-- Password Update form start=============== -->
          <ng-container *ngIf="UpdateFormShow">
            <form (ngSubmit)="updateSubmit(updatePassword)" [formGroup]="updatePassword">
              <h3>Update Password Form</h3>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                  placeholder="Eneter User Password">
                <div class="form-text text-danger" *ngIf="updatePassword.get('password')?.touched && !updatePassword.get('password')?.dirty">User Password is Required</div>
                <div class="form-text text-danger" *ngIf="updatePassword.get('password')?.dirty && updatePassword.get('password')?.invalid">Please Create Minimum 8 Charecter Strong Password</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" id="exampleInputPassword1"
                  placeholder="Eneter User Password">
                <div class="form-text text-danger" *ngIf="updatePassword.get('confirmPassword')?.touched && !updatePassword.get('password')?.dirty">User Password is Required</div>
                <div class="form-text text-danger" *ngIf="updatePassword.get('confirmPassword')?.dirty && updatePassword.get('password')?.invalid">Please Create Minimum 8 Charecter Strong Password</div>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </ng-container>
          <!-- Password Update form end=============== -->
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User Name</th>
              <th scope="col">User Email</th>
              <th scope="col">Password</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userData;">
              <th scope="row">{{user.id}}</th>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.password}}</td>
              <td class="d-flex justify-content-evenly">
                <span (click)="editUser(user.id)"><i class="bi bi-pencil-square"></i></span>
                <span (click)="deletUSer(user.id)"><i class="bi bi-trash-fill"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>